.button {
  background: none;
  border: none;
  border-radius: 10px;
  color: $cool-blue;
  display: inline-block;
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;

  &:hover {
    color: rgb(0, 50, 70);
    text-decoration: none;
  }
}

.button-active {
  background: $cool-blue;
  color: white;
  text-decoration: none;
}

.button-download {
  border: 5px solid $off-white;
  border-radius: 10px;
  color: $off-white;
  cursor: pointer;
  margin: 1rem auto;
  padding: 0.5rem;
  user-select: none;
  text-decoration: none;
  width: 160px;

  &:hover {
    background: rgb(0, 67, 94);
  }
}