.footer {
  background: $dark-blue;
  bottom: 0;
  height: 7rem;
  position: fixed;
  width: 100%;
}

.footer-container {
  margin: 0 auto;
  padding: 0 $m-size;
  max-width: 140rem;
}

.footer-email {
 padding-top: 25px;
 user-select: none;
}

.footer-main {
  display: flex;
  justify-content: space-between;
}

.footer-github {
  padding-top: 20px;
  span {
    color: $off-white;
    &:hover {
      color: lightblue;
    }
  }
}

.footer-weather {
  padding-top: 13px;
  user-select: none;
}

.footer-weather__error {
  padding-top: 30px;
}

.footer-weather__scale {
  color: $light-blue;
  cursor: pointer;
}