.form {
  display: flex;
  flex-direction: column;
  > * {
    margin-bottom: $m-size;
  }
}

.form__error {
  margin: 0 0 $m-size 0;
  font-style: italic;
}

.form__label {
  color: $off-white;
}

.form-control {
  @media (max-width: $desktop-breakpoint) {
    width: 90%;
  }
}