.header {
  background: url("/images/header.png");
  height: 11rem;
  position: fixed;
  width: 100vw;
  top: 0;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-title {
  float: left;
}

.header-links {
 float: right;
}

.header-rickert {

}

.header-portfolio {
 float: left;
}

.header-blog {
 float: right;
 margin-left: 2rem;
}