.header {
  background: $off-white;
  border-radius: 0px 0px 5px 5px;
  left:0;
  margin: 0 auto;
  max-width: 60rem;
  position: absolute;
  right: 0;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-title {
  float: left;

  a {
    font-weight: 500;
  }
}

.header-links {
  display: inline-block;

  span {
    color: rgb$cool-blue;
    font-size: 1.4em;
    height: 2.2rem;
    padding: $s-size;
    transition: color 0.5s ease-in-out;

    &:hover {
      color: rgb(0, 50, 70);
    }
  }
}

.header-rickert {
  color: $cool-blue;
}

.header-portfolio {

}

.header-blog {
  color: $cool-blue;
}