.list-header {
  background: $dark-gray;
  border: 1px solid darken($off-white, 10%);
  color: $off-white;
  display: flex;
  justify-content: space-between;
  padding: $s-size $m-size;
}

.list-body {
  background: rgba($color: $dark-gray, $alpha: 0.7);
  margin-bottom: 8rem;
  padding: 0 $m-size;
}

.list-item {
  border-bottom: 5px solid rgba($color: $off-white, $alpha: 0.8);
  color: $off-white;
  padding-bottom: 1rem;
}

.list-item__title {
  margin: 0;

}

.list-item__sub-title {
  font-size: $font-size-small;
}

.list-item__data {
  margin: $s-size 0 0 0;

  @media (min-width: $desktop-breakpoint) {
    margin: 0;
    padding-left: $s-size;
  }
}

.list-item__post {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}