.navbar {
  background: #111;
  border: none;
  border-radius: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.navbar-collapse {
  float: right;
}

.navbar-default .navbar-brand {
  color: $off-white;
}

.navbar-default .navbar-nav>li>a {
  color: $off-white;
  &:hover {
    color: white;
  }
}