* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-y: scroll;
}

body {
  background: url("/images/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  color: $off-white;
  height: 100%;
  font-family:  Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

@media (min-width: 768px) {
  .navbar-nav>li>a {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 6px;
}
}

.no-scroll {
  background: url("/images/beam.png") no-repeat center center fixed;
  height: 0;
  margin: 0 auto;
  left: 400px;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: all 0.5s ease-in-out;
  width: 55%;
  z-index: -5;

  @media (max-width: $desktop-breakpoint) {
    left: 0;
    width: 100%;
  }
}

.scrolling {
  background: url("/images/beam.png") no-repeat center center fixed;
  height: 100vh;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar {
  width: 0;
}