// Colors

$blue: #3c4251;
$cool-blue: #006c97;
$dark-blue: #364051;
$dark-gray: #333;
$darker-gray: #111;
$gray: #666;
$light-blue: #1c8af5;
$light-blue__indecision: #464b5e;
$lighter-blue: #5fadfc;
$off-black: #20222b;
$off-white: #f7f7f7;
$purple: #8357c5;


//Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

//Spacing

$xl-size: 4.8rem;
$l-size: 3.2rem;
$m-size: 1.6rem;
$s-size: 1.2rem;
$desktop-breakpoint: 60rem;